.badgeViewerWrapper {
  display: flex;
  gap: 5px;
}

.badgeImage {
  width: 17px;
  height: 17px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  image-rendering: auto;
  cursor: pointer;
}
